.header {
    display: flex;
    justify-content: center;
}

h1 {
    color: black;
    font-size: 60px;
    /* text-align: center; */
    /* border: 4px solid black; */
}

img {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

h2 {
    text-align: center;
}

h4 {
    text-align: center;
    color: purple;
    font-size: 40px;
}

#currentUTCtime {
    text-align: center;
    color: red;
}

a {
    padding-top: 50px;
}